.app-container {

  margin: auto;
  width: 200px;
  min-height: 100px
  background-color: lightblue;
}

.input-container {
  display: flex;
  flex-direction: column;


}

.todo-container {
  display: flex;
  justify-content: space-between;
  overflow-y: auto;

  min-width: 200px;
  height: auto;
  margin: 2px;
  background-color: lightgreen;


}
button {
  background-color: lightblue;
  color: grey;
  border: none;
  border-bottom-left-radius: 5px;


}

input {
  background-color: lightblue;
  border: none;
  text-align: center;
  min-height: 30px;
  border-top-right-radius: 5px;
}

.todo-text {
  overflow-y:auto;
}

.checked {
  text-decoration: line-through;
}
