body {
  background-color: black;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 200px;
  min-height: 100px;
  background-color: lightblue;

}
.input-container {
  display: flex;
  width: 200px;


}

.input-container input {
  flex: 1;
  width: 140px;
  /* 80% width */
}

.input-container button {
  flex: 1;
  /* Remaining width */
}


.todo-container {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  min-height: 25px;
  background-color: lightgreen;


}
input {
  /* min-width: 100px; */
}

.item {
  overflow-y: auto;
  margin:10px;

}

.cross{
  text-decoration: line-through;
  color:red;
  
}

.completed{
  background-color: lightblue;
}