.checked {
  text-decoration: none;
  color: grey;
}


h1 {
  color: lightblue;
}
body {
  background-color: green;


}

li {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  height: 20px;
  background-color: lightblue;
  margin: 2px;
  border-radius: 5px;
  padding: 2px;
}
button {}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}